.container 
	.pages.newspager
		.modulepager
			ul.pagination
				li.active
					a(href="javascript:void(0)") 1
				li
					a(href='javascript:void(0)') 2
				li
					a(href='javascript:void(0)') 3
				li
					a(href='javascript:void(0)') ›