section.wd-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Wonder Design & Construction
							p Ensure every home-owners have a Truly HOME
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Wonder Design & Construction
							p Ensure every home-owners have a Truly HOME
			.swiper-slide 
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/b-1.jpg", alt="")
						.banner-title 
							h1 Wonder Design & Construction
							p Ensure every home-owners have a Truly HOME