section.project-detail-info
	.container
		.row
			.col-md-8.col-lg-9
				h1 Project Manager
				b Job responsibility
				ul
					li Overall management for the project with respect to contractual, budget, resources, design, procurement, construction, quality and safety
					li Lead the project team for the implementation and execution of works as according to plan schedule
					li Co-ordination and monitoring of progress amongst various subcontracting works
					li Liaise closely with clients, architects, consultants, subcontractors through regular meetings to resolve administrative, design and contractual issues and updating of the project progress report
					li Conduct regular site safety meeting and to implement safe site working condition and environmental control measures.
					li Method Statement
				b Requirement
				ul
					li Able to read detailed drawings, understand construction plans and knowledge of fabrication methods
					li Good knowledge in commercial and retail building submission, setup requirement, etc.
					li Able to work irregular timing, independent and able to keep good reporting and documentation works
				b Contact Information:
				ul
					li Email: 
						a(href="mailto:support@singwonder.com") support@singwonder.com
					li Phone: +65 6240 6830
					li Address: #14-02 The Arcade, 11 Collyer Quay, Singapore, 049317.
				.form-wrapper
					button.apply Apply for this job
					button.download Download application form
			.col-md-4.col-lg-3
				.project-detail-sidebar
					.sidebar-child
						span Level
						p Entry Level
					.sidebar-child
						span Industry
						p Architectural Services / Interior Designing
					.sidebar-child
						span Benefits
						ul
							li Dental
							li Medical
							li Miscellaneous allowance
					.sidebar-child
						span Working Hours
						p Regular hours
						p Mondays - Fridays
					.sidebar-child
						span Required Documents
						ul
							li CV / Resume
							li Portfolio
					.sidebar-child
						span Spoken Language
						ul
							li English
							li Vietnamese