section.project
	.container
		.title
			h1 OUR WORK
			select
				option Apartment Project
				option Lorem ipsum dolor sit amet.
		.row
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-1.jpg", alt="1")
							figcaption
								p Apartment Project
								h4 West Village Residences
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-2.jpg", alt="2")
							figcaption
								p Apartment Project
								h4 Kodo Apartments Lorem ipsum dolor, sit amet consectetur adipisicing.
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-3.jpg", alt="3")
							figcaption
								p Apartment Project
								h4 The Burrell Group
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-4.jpg", alt="4")
							figcaption
								p Apartment Project
								h4 Del Mar Residence
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-5.jpg", alt="5")
							figcaption
								p Apartment Project
								h4 Denver Penthouse
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-6.jpg", alt="6")
							figcaption
								p Apartment Project
								h4 Black Birch
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-7.jpg", alt="7")
							figcaption
								p Apartment Project
								h4 Manhatta and Bay Room
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-8.jpg", alt="8")
							figcaption
								p Apartment Project
								h4 Assembly Apartments
			.col-sm-6.col-lg-4
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/project/p-9.jpg", alt="9")
							figcaption
								p Apartment Project
								h4 Gramercy Square