section.wd-projects
	.container 
		h2 projects
		.row
			.col-lg-6.projects-item
				a(href="#").projects
					.img 
						img(src="./img/index/n-2.png", alt="")
					.content
						p Outstanding Project 
						h3 CHUBBY HOUSE BUILDING 
						h4 View Detail 
							i.mid.mdi-arrow-right
			.col-lg-6.projects-item
				.row 
					.col.projects-main
						a(href="#").projects-bottom 
							.img 
								img(src="./img/index/n-3.png", alt="")
							.content
								p Apartment Project
								h3 SKY OPTICAL
								h4 View Detail 
									i.mid.mdi-arrow-right
					.col.projects-main
						a(href="#").projects-bottom 
							.img 
								img(src="./img/index/n-3.png", alt="")
							.content
								p Construction Project
								h3 RIVER GARDEN
								h4 View Detail 
									i.mid.mdi-arrow-right