.wd-projects
	padding-top: 0
	h2 
		font-size: 35px
		line-height: 55px
		font-weight: 400
		color: #333333
		text-transform: uppercase
	img 
		width: 100%
	.projects-item
		.projects
			display: block
			position: relative
			.content 
				padding: 30px
				position: absolute
				bottom: 0
				width: 50%
				height: 50%
				background-image: linear-gradient( 25deg, rgb(8,117,187) 0%, rgb(142,196,67) 100%)
				opacity: 0.902
				z-index: 57
				p 
					font-size: 15px
					line-height: 35px
					color: #ffffff
					font-weight: 300
				h3 
					font-size: 25px
					line-height: 35px
					font-weight: 600
					color: #ffffff
				h4 
					margin-top: 40px
					font-weight: 300
					font-size: 15px
					line-height: 22px
					color: #999999
			&:hover 
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1)
		.projects-bottom 
			margin-bottom: 30px
			display: flex
			align-items: center
			background: #ffffff
			.img,.content 
				flex: 0 0 50%
				width: 50%
			.content
				padding: 30px
				p 
					font-size: 15px
					line-height: 35px
					color: #999999
				h3 
					font-size: 25px
					line-height: 35px
					color: #333333
				h4 
					padding-top: 40px
					font-weight: 300
					font-size: 15px
					line-height: 22px
					color: #0875bb
	@media (max-width: 1199.98px)
		.projects-item
			.projects
				.content 
					padding: 10px
	@media (max-width: 991.98px)
		.projects-item
			.projects
				.content 
					position: relative
					width: 100%
					h4 
						margin-top: 0
	@media (max-width: 767.98px)
		.products-item
			padding-top: 15px