section.service-detail
	.container
		h2 Interior Design
		p There are various ways to create the illusion of spaciousness and optimise space through the right use of furniture and decor elements.
		.row.content
			.item
				h3 Furniture and Furnishing
				p
					span Low lying furniture and clear glass furniture will be far more effective in making the room feel less crowded and multi-purpose furniture is a good solution for space-challenged urban dwellers. Full-length curtains and vertical shelving
					span (Eg. tall bookcases) are also a great means to give the perception of height and hence space.
			.box-img
				img(src="../img/service/detail-1.png", alt="")
		.row.content-reverse
			.item
				h3 Colours
				p
					span It is a common misconception that only softer wall colours can work for smaller spaces. The trick is to use the right colour palette with perfectly positioned furniture to create a space that is inviting and efficient. There are various ways to introduce colour to small spaces. This could be in the form of art, furniture or walls or a combination of all.
			.box-img
				img(src="../img/service/detail-2.png", alt="")
		.row.content
			.item
				h3 Storage
				p
					span If there is one thing a small space should be, it is uncluttered. Introducing creative storage solutions that are traditionally decor elements and furniture pieces but have storage space is a great way to hide away clutter. Adding hooks,shelves, baskets and boxes make the space more organised and efficient.
			.box-img
				img(src="../img/service/detail-3.png", alt="")
		.row.content-reverse
			.item
				h3 Lighting
				p
					span As they say, ‘Let there be light’. Introduce bedside lamps and chandeliers and allow more natural light to enter the rooms as well. Adding mirrors opposite a window will reflect the light and increase the perception of openness and space.
			.box-img
				img(src="../img/service/detail-4.png", alt="")
