section.our-service
	.container
		h2 our sevice
		.row
			.item
				a(href="news-detail.html")
					figure
						.box-img
							img(src="./img/service/item-1.png", alt="")
						figcaption
							h3 Interior Design
							span Make your home luxury in your own way
							p We believe that interior design should be accessible to everyone. Let us create a beautiful space that fits your needs - a real home with your pleasure.
							a.btn(href="news-detail.html") View More
			.item
				a(href="news-detail.html")
					figure
						.box-img
							img(src="./img/service/item-2.png", alt="")
						figcaption
							h3 Interior Construction
							span Expand your space in an impressive way
							p Our designers thoughtfully source a selection of products, just for you. We ensure that every installation is uniquely tailored to your style, your needs, and your budget.
							a.btn(href="news-detail.html") View More