img
	max-width: 100%
<<<<<<< HEAD
.col
	flex: 0 0 100%
	max-width: 100%
=======
<<<<<<< HEAD
// .col, [class^="col-"]
// 	padding: 0 10px
// 	flex: 0 0 100%
// 	max-width: 100%
=======
>>>>>>> 4cb1fedb39342c7474b239fdba3426fd97a162ba
>>>>>>> 63d041627ebad952a26e10aafe23047f2201fcef
@media (min-width: 576px)
	.col-sm-6
		flex: 0 0 50%
		max-width: 50%
@media (min-width: 768px)
	.col-md-6
		flex: 0 0 50%
		max-width: 50%
@media (min-width: 992px)
	.col-lg
		flex-grow: 1
		flex-basis: 0
		max-width: 100%
	.col-lg-2
		flex: 0 0 16.6666%
		max-width: 16.6666%
	.col-lg-3
		flex: 0 0 25%
		max-width: 25%
	.col-lg-4
		flex: 0 0 33.3333%
		max-width: 33.3333%
@media (min-width: 1200px)