section.contact-maps
	.container
		.row
			.col-lg-6
				h2 Get in toch
				p To start a conversation with Wonder Design & Construction, we need to gather some information. Please fill out the following form to get in touch.
				form.form-wrapper
					.form-item
						label name
						input(type="text")
					.form-item
						label phone
						.phone
							select
								option +84
								option +48
							input(type="text")
					.form-item
						label email
						input(type="text")
					.form-item
						label subject
						select
							option Consultant
							option Consultant
							option Consultant
							option Consultant
					.form-item
						label message
						textarea
					button(type="submit") Send