.main-banner
	.wd-banner-1
		.banner-lists
			.banner-item
				img(src="./img/catalogue/ca-1.jpg", alt="")
	.breadcrumb
		.container
			h2 catalogue
			ul
				li
					a(href="") Home
				li
					a.active(href="") Catalogue
