section.project-detail-other
	.container
		.row
			.col-12
				h2 other Projects
			.col-12
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.project-item
								a(href="javascript:void(0)")
									figure
										.box-img
											img(src="./img/project/p-2.jpg", alt="2")
										figcaption
											p Apartment Project
											h4 Kodo Apartments Lorem ipsum dolor, sit amet consectetur adipisicing.
						.swiper-slide
							.project-item
								a(href="javascript:void(0)")
									figure
										.box-img
											img(src="./img/project/p-3.jpg", alt="3")
										figcaption
											p Apartment Project
											h4 The Burrell Group
						.swiper-slide
							.project-item
								a(href="javascript:void(0)")
									figure
										.box-img
											img(src="./img/project/p-4.jpg", alt="4")
										figcaption
											p Apartment Project
											h4 Del Mar Residence
						.swiper-slide
							.project-item
								a(href="javascript:void(0)")
									figure
										.box-img
											img(src="./img/project/p-5.jpg", alt="5")
										figcaption
											p Apartment Project
											h4 Denver Penthouse