section.contact-address
	.container
		h1 Wonder Design And Construction Pte Ltd
		.row
			.col-lg-4
				figure
					img(src="./img/contact/i-1.png", alt="1")
					figcaption
						h5 Address
						p #14-02 The Arcade, 11 Collyer Quay Singapore, 049317.
			.col-lg-4
				figure
					img(src="./img/contact/i-2.png", alt="2")
					figcaption
						h5 Email
						p support@singwonder.com
			.col-lg-4
				figure
					img(src="./img/contact/i-3.png", alt="3")
					figcaption
						h5 Phone Number
						p +65 6240 6830