section.project-detail-photo
	.container
		.row
			.col-12
				.title
					h2 Photos of this project
					.slide-navigation
						i.mdi.mdi-arrow-left
						i.mdi.mdi-arrow-right
			.col-12
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="./img/project-detail/p-1.jpg", alt="1")
						.swiper-slide
							img(src="./img/project-detail/p-1.jpg", alt="1")
						.swiper-slide
							img(src="./img/project-detail/p-1.jpg", alt="1")
						.swiper-slide
							img(src="./img/project-detail/p-1.jpg", alt="1")
						.swiper-slide
							img(src="./img/project-detail/p-1.jpg", alt="1")