section.about-1
	.container
		.row.top
			.col-lg-4.title
				h2.main-title WONDER DESIGN &amp; CONSTRUCTION
				img(src="./img/logo_2.png", alt="")
			.col-lg
				.textbox
					h3 The Only In-house Installment Plans and Package Provider in Singapore.
					p Wonder Design is a company specialized in the management of interior design & furniture projects for real estate developers and for owners of apartments/houses. We cooperate with a network of talented architects, artists, and designers for our various projects under execution.
					br 
					p Always close to our client's needs and with great attention to detail and cost optimization, Wonder Design tries every year to innovate and bring new possibilities to find each client’s comfort and character in the interior design of each home.
					br
					p With assisting to DO NOW & PAY LATER, we commit to making your home to become Gorgeous - Luxury - Modern with our economical package solution and expand your space in an impressive way. We are not just your contractor, we are your friend in-need!
			