section.about-2
	.container
		.row.top-bg
			.col-12
				.imgbox
					img(src="./img/about/bg_1.jpg", alt="")
			.main-title Vision - Mission - core value
		.row.bottom-content
			.col-lg-11.col-xl-10
				.row
					.col-lg-4
						.item
							.img
								img(src="./img/about/icon_1.png", alt="")
							.content
								h3 Our Mission
								p We are established with the desire to create a true living space for everyone. We believe that anyone can have opportunities to design their own unique interior styles.
					.col-lg-4
						.item
							.img
								img(src="./img/about/icon_2.png", alt="")
							.content
								h3 Our Vision
								p With a young and dynamic team, we are always up to date with international interior design trends, thriving to become pioneers on this market in Singapore.
					.col-lg-4
						.item
							.img
								img(src="./img/about/icon_3.png", alt="")
							.content
								h3 Core Value
								p Make customer satisfied the stunning interior design with affordable price is the primary value that we try our best to develop our brand