section.product 
	.container 
		.row 
			.col-lg-3
				.FAQs-nav
					ul
						li.active
							a(href="javascript:void(0)") Frequently asked question
						li
							a(href="javascript:void(0)") Question about products