.product 
	padding: 70px 0
	.project-item
		margin-top: 30px
		a 
			display: block
			figure 
				.box-img
					max-height: 253px
	@media (max-width: 768px)
		padding: 30px 0
		.project-item
			margin-top: 15px