section.product 
	.container 
		.row 
			.col-lg-3
				.FAQs-nav
					ul
						li.active
							a(href="javascript:void(0)") Table
						li
							a(href="javascript:void(0)") Chair
						li
							a(href="javascript:void(0)") Sofa
						li
							a(href="javascript:void(0)") Kitchen Cabinet
						li
							a(href="javascript:void(0)") Bed
						li
							a(href="javascript:void(0)") Lamp
						li
							a(href="javascript:void(0)") Chandelier
						li
							a(href="javascript:void(0)") Decoration
			.col-lg-9 
				.search
					h2 table 
				.row 
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
					.col-sm-6.col-lg-4.project-item
						a(href="javascript:void(0)")
							figure
								.box-img
									img(src="./img/project/p-1.jpg", alt="1")
								figcaption
									h3 MAARTEN LOW TABLE
									p SG$ 129.00
