section.wd-services
	.container 
		h2 services
		.row.no-gutters 
			.col-lg-6.services-item
				.img 
					img(src="./img/index/h-2.jpg", alt="")
			.col-lg-6.services-item
				.full-conten
					h2 Interior Design
					h3 Make your home luxury in your own way
					p We believe that interior design should be accessible to everyone. Let us create a beautiful space that fits your needs - a real home with your pleasure.
				.buttom 
					a(href="#") View More