section.news-detail
	.container
		h2 Just Announced – The 2019 Australian Interior Design Awards Shortlist
		date 18.03.2019
		span Awards season for architecture and interior design is underway, and today the shortlist for the 2019 Australian Interior Design Awards was revealed! Projects shortlisted for the 2019 Australian Interior Design Awards, in the Residential Design and Residential Decorations categories, are definition #HOUSEPORN!
		img(src="../img/news/detail/item-1.png", alt="")
		p Now in its 16th year, the highly-anticipated awards presented by the Design Institute of Australia and Architecture Media’s Artichoke magazine celebrates excellence and innovation in Australian design projects over the last 12 months.
		p The 2019 Shortlist is a veritable feast for the eyes. Luxe textures reign supreme, layered against pared-back palettes punctuated by clever punches of bold colour. Enjoy scrolling through the entire list of finalists across residential, retail, commercial, workplace, and hospitality design here! 
		p We’re obsessed with the circular tiling and powder-pink benchtops in the bathroom of Oak Tree House by Susi Leeton Architects, displaying an expert blend of classic and contemporary.
		p Equally bold, Blue Moon by Bayley Ward evokes a sense of modern regality with its deep teal and violet feature walls playing perfectly against luxurious brass and marble finishes.
		img(src="../img/news/detail/item-2.png", alt="")
		p Meanwhile, Renato D’Ettorre Architects chose to work with natural materials as a major design feature, and the exquisite stone feature all in the GB House makes a strong statement.
		p We’re excited to see a number of projects previously featured on TDF amongst the 2019 contenders. For a more detailed look at these spectacular homes, check out our stories on the serene B&B Residence by Hogg and Lamb, the cosy Connect Six house by Whiting Architects (look out for the genius staircase design feature), Simone Haag’s moody work on Bear Agushi’s Armadale House, and the luxurious Esplanade House by Golden.
		p Stay tuned for the announcement of winning projects on May 31st!
		.btn-share-link
			a(href="https://www.facebook.com/sharer/sharer.php?u=")
				span.mdi-facebook Share On Facebook
			a(href="https://twitter.com/home?status=")
				span.mdi-twitter Tweet It
			a(href="https://pinterest.com/pin/create/button/?url=&media=&description=")
				span.mdi-pinterest
			a(href="mailto:?")
				span.mdi-email