extends _layout.pug

block var
	- var title = 'product-detail'
	- var bodyClass = 'product-detail-page'

block main
	include ../components/breadcrumb/index
	include ../components/product-detail/index