extends _layout.pug

block var
	- var title = 'product'
	- var bodyClass = 'product-page'

block main
	include ../components/breadcrumb/index
	include ../components/product/index
	include ../components/pagination/index