extends _layout.pug

block var
	- var title = 'project-detail'
	- var bodyClass = 'project-detail-page'

block main
	include ../components/project-detail/info/index
	include ../components/project-detail/photo/index
	.container
		hr
	include ../components/project-detail/other/index