extends _layout.pug

block var
	- var title = 'Promotion'
	- var bodyClass = 'promotion-page'

block main
	include ../components/breadcrumb/index
	include ../components/promotion/index
	include ../components/pagination/index