section.product-detail
	.container 
		.row 
			.col-lg-6.product-detail-item
				.product-image
					.big
						.slide(data-id="sl-1" style="display:block")
							img(src="./img/product-detai/p-1.jpg", alt="")
						.slide(data-id="sl-2")
							img(src="./img/product-detai/p-1.jpg", alt="")
						.slide(data-id="sl-3")
							img(src="./img/product-detai/p-1.jpg", alt="")
						.slide(data-id="sl-4")
							img(src="./img/product-detai/p-1.jpg", alt="")
						.slide(data-id="sl-5")
							img(src="./img/product-detai/p-1.jpg", alt="")
					.below
						.swiper-container.thumbnail
							.swiper-wrapper
								.swiper-slide(data-target="sl-1")
									img(src="./img/product-detai/p-1.jpg", alt="")
								.swiper-slide(data-target="sl-2")
									img(src="./img/product-detai/p-1.jpg", alt="")
								.swiper-slide(data-target="sl-3")
									img(src="./img/product-detai/p-1.jpg", alt="")
								.swiper-slide(data-target="sl-4")
									img(src="./img/product-detai/p-1.jpg", alt="")
								.swiper-slide(data-target="sl-5")
									img(src="./img/product-detai/p-1.jpg", alt="")
						.slide-navigation
							i.mdi.mdi-chevron-left
							i.mdi.mdi-chevron-right
			.col-lg-6.product-detail-item 
				.product-info
					h2 PARSEC TABLE
					p Catagory : 
						a(href="#") Table
					h4 SG$ 129.00
				.product-tab 
					.td
						nav
							a.active(href="#ptab-1") DESCRIPTION
							a(href="#ptab-2") SPECIFICATIONS
					.td
						.pcontent#ptab-1(style="display: block")
							p Parsec coffee tables are a collection characterized by a trellis-like base. The tube structure, following triangular lines, creates interesting geometric lines. Parsec was designed in two versions: the standard model with an essential metal top made with De Castelli's finishes, and another version enriched by a délabré iron bowl screwed to the top.
						.pcontent#ptab-2
				.button 
					a(href="javascript:void(0)") contact
section.tables
	.container 
		h2 MORE IN TABLES
		.row 
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
section.other 
	.container 
		h2 other products
		.row 
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00
			.col-sm-6.col-lg-3.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							h3 MAARTEN LOW TABLE
							p SG$ 129.00