header
	section.top-header
		.top-header-wrapper
			.container
				.top-header-menu
					ul.contact-info
						li
							a(href="tel:65 6240 6830") +65 6240 6830
							a.contact(href="tel:65 6240 6830")
								i.mdi-phone
						li
							a(href="mailto:support@singwonder.com") support@singwonder.com
							a.contact(href="mailto:support@singwonder.com")
								i.mdi-email
						li
							a(href="javascript:void(0)") Customer Service
							a.contact(href="javascript:void(0)")
								i.mdi-account-supervisor-circle
					.language
						.box-img
							img(src="./img/flag.png", alt="flag")
						select
							option.en English
							option.vn Vietnamese
	section.main-header
		.container
			.main-header-wrapper
				.logo-wrapper
					a(href="index.html")
						img(src="./img/logo.png", alt="logo")
				.main-header-menu
					ul.menu-parent
						li
							a(href="about.html") About Us
						li
							a(href="service.html") Service
						li
							a(href="product.html") Product
							ul.menu-sub
								li
									a(href="javascript:void(0)") Lights
								li
									a(href="javascript:void(0)") Electrical
								li
									a(href="javascript:void(0)") Wooden Furniture
								li
									a(href="javascript:void(0)") Decor
						li
							a(href="promotion.html") Promotion
						li
							a(href="project.html") Project
						li
							a(href="news.html") News
						li
							a(href="catalogue.html") Catalogue
						li
							a(href="career.html") Career
						li
							a(href="contact.html") Contact Us
					.search-wrapper
						i.mdi.mdi-magnify
						.search-box
							input(type="text", placeholder="Tìm kiếm thông tin")
							button
								span.mdi.mdi-magnify
	.backdrop
	.container
		.mobile-header
			.toggle-menu
				span
				span
				span