section.FAQs
	.container
		.row
			.col-lg-3
				.FAQs-nav
					ul
						li.active
							a(href="javascript:void(0)") Frequently asked question
						li
							a(href="javascript:void(0)") Question about products
			.col-lg-9
				h2 frequently asked question
				.FAQs-wrapper
					.FAQs-item(item='item-1')
						.FAQs-title
							p CAN I HAVE FURNITURE MADE WITH MY OWN FABRIC?
							i.mdi.mdi-menu-down
						.FAQs-content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, ducimus repudiandae dolores fugit quaerat nesciunt sint deleniti rem velit assumenda voluptatum porro at corporis ipsa minima adipisci nihil quia doloremque?
					.FAQs-item(item='item-2')
						.FAQs-title
							p WHY ARE ITEMS SOMETIMES OUT OF STOCK?
							i.mdi.mdi-menu-down
						.FAQs-content
							p We make every effort to maintain availability of all items listed in our catalogue. Unfortunately due to the success of a particular item or due to supply delays, it is possible that an item can be temporarily out of stock. We’ll ensure we keep you informed every step of the way. Once the item is available again we’ll notify you to let you know your order has been placed.
							p Sometimes even the most-prepared retailers sell out of popular items. How these inventory shortages are communicated on an ecommerce website may impact shopper experience, search engine optimization, and sales. Although not every visitor to a product detail page is ready to convert, an out-of-stock item can disappoint real buyers who are ready to make a purchase. Imagine a shopper searching for a product you sell. She enters a query on Google, sees a listing for your ecommerce site on the search engine results page, and clicks through. She’s ready to buy. But you’re not ready to sell.
					.FAQs-item(item='item-3')
						.FAQs-title
							p HOW CAN I UNSUBSCRIBE FROM YOUR NEWSLETTER?
							i.mdi.mdi-menu-down
						.FAQs-content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, ducimus repudiandae dolores fugit quaerat nesciunt sint deleniti rem velit assumenda voluptatum porro at corporis ipsa minima adipisci nihil quia doloremque?
						