section.wd-promotions
	.container 
		h2 promotions
		.row 
			.col-sm-6.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							time 18.03.2019
							h3 Take 5% off your next order
			.col-sm-6.project-item
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/project/p-1.jpg", alt="1")
						figcaption
							time 18.03.2019
							h3 Take 5% off your next order