footer
	.top
		.container
			.row
				.col-md-6
					.content
						h2 Wonder Design and Construction Pte Ltd
						p To help every home-owners have a place called HOME !
					.btn-submit
						a(href="javascript:void(0)") Get Free Quote
				.col-md-6
					.content
						h2 Connect with us
						p Follow us and sign up for emails
					.form-group
						input(type="email", placeholder="Enter your emails..." name="")
						i.mdi-email
	.copyright
		.container
			.row
				.col-md-6
					nav
						i.mdi-facebook
						i.mdi-linkedin
						i.mdi-youtube
					span Sitemap
					span Privacy Policy
					span Terms Of Use
				.col-md-6
					p 2019 © Wonder Design and Construction Pte Ltd. All right reserved. Designed by Cánh Cam.
