footer
	.top
		background: #0875bb
	.copyright
		background: #8dc444
	.col-md-6
		display: flex
	a
		text-transform: uppercase
		border-radius: 25px
		font-size: 15px
		color: rgb(255, 255, 255)
		font-weight: bold
		line-height: 1.467
		background-color: rgb(141, 196, 68)
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2)
		height: 50px
		width: 190px
		display: inline-flex
		justify-content: center
		align-items: center
		text-decoration: none
	.content
		h2
			font-size: 15px
			color: rgb(255, 255, 255)
			font-weight: bold
			line-height: 1
		p
			font-size: 13px
			color: rgb(255, 255, 255)
			line-height: 1.538
	.btn-submit
		padding-left: 15px
	.form-group
		padding-left: 20px
		position: relative
		input
			width: 328px
			height: 48px
			border: 1px solid rgb(22, 132, 174)
			background-color: rgb(19, 101, 153)
			border-radius: 25px
			height: 48px
			padding-left: 20px
			outline: none
			color: #ffffff
			&::placeholder
				color: #ffffff
				font-size: 13px
				color: rgb(91, 160, 205)
				line-height: 1
		.mdi-email
			position: absolute
			right: 6%
			top: 50%
			transform: translateY(-50%)
			font-style: normal
		i
			width: 37px
			position: absolute
			right: -4%
			top: 50%
			transform: translate(-50%, -54%)
			height: 37px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 100%
			background: #8dc444
			color: #fff