section.wd-donors
	.container 
		.swiper-container
			.swiper-wrapper
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
				.swiper-slide 
					img(src="./img/index/logo-1.png", alt="")
		.swiper-nav
			.swiper-prev
				i.mid.mdi-chevron-left
			.swiper-next
				i.mid.mdi-chevron-right