section.project-detail-info
	.container
		.row
			.col-md-8.col-lg-9
				h1 Kodo Apartments
				h4 Adelaide's Next-Tallest Residential Tower
				p This 30-story building is slated to be the tallest residential tower in Adelaide. While its heights are expected to make an impression are on the local community, its typology still maintains the ability to enjoy inner city living while having the privacy enjoyed outside of business districts.
				p Adjacent from the Gregorian-era Victoria Square and Adelaide Central Market, the Angas Street apartment complex will be comprised of 204 apartments that hold either one, two, or three bedrooms with outdoor terraces flanked with partitions.
				p The lower levels will include a private parking garage for residents while the ground floor will be dedicated to commercial use on both Angas and Street and the new Urban Plaza—the subsequent portion the entire masterplan project the tower is a part of that will make the immediate area more accessible and pedestrian friendly.
				p The building is the first phase of a larger masterplan which aims to open up the connectivity and permeability of the immediate area and is expected to be completed by January 2019.
			.col-md-4.col-lg-3
				.project-detail-sidebar
					.sidebar-child
						span Client
						p Flagship Property Holdings
					.sidebar-child
						span Location
						p North - Singapore
					.sidebar-child
						span Size
						p 30,000 square meters
					.sidebar-child
						span Status
						p Construction Phase
					.sidebar-child
						span Completion date
						p 2019