.wd-products
	padding: 70px 0
	h2 
		font-size: 35px
		line-height: 55px
		font-weight: 400
		color: #333333
		text-transform: uppercase
	.products-item 
		text-align: center
		padding-top: 30px
		.products 
			border-radius: 5px
			display: block
			padding: 30px 0
			background: #ffffff
			p 
				position: relative
			&:hover 
				box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3)
				p 
					&:before 
						content: ''
						position: absolute
						bottom: 0 
						background-color: rgb(8, 117, 187)
						width: 70px
						height: 1px
						left: 50%
						transform: translateX(-50%)
	@media (max-width: 767.98px)
		padding: 30px 0
		.products-item
			padding-top: 15px