section.promotion
	.container
		h2 PROMOTIONS
		.row
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-1.png", alt="")
							figcaption
								date 18.03.2019
								h3 10% off Horizon’s Draperies and Side Panels
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-2.png", alt="")
							figcaption
								date 18.03.2019
								h3 Pottery Barn Kids Anywhere Chair Sale
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-3.png", alt="")
							figcaption
								date 18.03.2019
								h3 Herman Miller Holiday Sale
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-4.png", alt="")
							figcaption
								date 18.03.2019
								h3 Sale up to 25% off
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-5.png", alt="")
							figcaption
								date 18.03.2019
								h3 Take 5% off your next order
			.col
				.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/promotion/item-6.png", alt="")
							figcaption
								date 18.03.2019
								h3 The 1-2-3 Sale - Lets you customize both your discount and your furniture.