section.project-detail-other
	.container
		.row
			.col-12
				h2 other positions
			.col-lg-3
				.project-item
					a(href="javascript:void(0)")
						figure
							figcaption
								h4 Kodo Apartments Lorem ipsum dolor, sit amet consectetur adipisicing.
								p Apartment Project
								time 28/03/2019
			.col-lg-3
				.project-item
					a(href="javascript:void(0)")
						figure
							figcaption
								h4 The Burrell Group
								p Apartment Project
								time 28/03/2019
			.col-lg-3
				.project-item
					a(href="javascript:void(0)")
						figure
							figcaption
								h4 Del Mar Residence
								p Apartment Project
								time 28/03/2019
			.col-lg-3
				.project-item
					a(href="javascript:void(0)")
						figure
							figcaption
								h4 Denver Penthouse
								p Apartment Project
								time 28/03/2019