section.news
	.container
		h2 News - Event
		.row
			.col-lg-8
				a(href="javascript:void(0)")
					figure
						img(src="./img/news/item-1.png", alt="")
						figcaption
							date 18.03.2019
							h3 Just Announced – The 2019 Australian Interior Design Awards Shortlist
			.col-lg-4
				.item
					a(href="javascript:void(0)")
						figure
							img(src="./img/news/item-2.png", alt="")
							figcaption
								date 18.03.2019
								h3 A Sophisticated New Look For An 80s Gem
				.item
					a(href="javascript:void(0)")
						figure
							img(src="./img/news/item-3.png", alt="")
							figcaption
								date 18.03.2019
								h3 ‘The House + Garden Of The Future’ Is Open For Inspection
		.row
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-4.png", alt="")
						figcaption
							date 18.03.2019
							h3 JSeeing Green: 25 Interiors to Inspire You on St. Patrick's Day
							p From rich emerald and vibrant kelly to sugary mint and soothing olive, shades of green bring life to a space.
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-5.png", alt="")
						figcaption
							date 18.03.2019
							h3 14 Distinctive Brick Interiors
							p Exposed, restored, or painted, these brick-and-mortar walls command attention.
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-6.png", alt="")
						figcaption
							date 18.03.2019
							h3 4 Great Small Bedroom Design Ideas
							p If your bedroom is more tiny than expansive, we’ve got some great small bedroom design ideas to make your space shine!
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-7.png", alt="")
						figcaption
							date 18.03.2019
							h3 Making Mid-Century Modern Again
							p The rejuvenated 'Fig Tree Pocket' 60’s House by Bligh Graham Architects, in Brisbane.
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-8.png", alt="")
						figcaption
							date 18.03.2019
							h3 An East Ballarat Home Inspired By Iconic Australian Architecture
							p Explore the self-designed vernacular house of architect Nathan Porter.
			.col
				a(href="javascript:void(0)")
					figure
						.box-img
							img(src="./img/news/item-9.png", alt="")
						figcaption
							date 18.03.2019
							h3 This Circular Beach House Will Put You In A Spin
							p 360-degree views from the brilliantly unconventional St Andrews Beach House, by Austin Maynard Architects.