.lasted-news
	padding-bottom: 35px
	@media (min-width: 768px)
		padding-bottom: 75px
	h1
		padding-bottom: 10px
	.swiper-container
		padding-top: 10px
		padding-bottom: 10px
		.project-item
			height: 100%
			figure
				height: 100%
				.box-img
					height: auto
				figcaption
					padding-bottom: 40px
					h4
						padding-bottom: 20px
					p
						line-height: 1.467
						-webkit-line-clamp: 3
						-webkit-box-orient: vertical
						text-overflow: ellipsis
						overflow: hidden
						display: -webkit-box