section.lasted-news
	.container
		h2 Lasted News
		.swiper-container
			.swiper-wrapper
				.swiper-slide.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/news/item-7.png", alt="1")
							figcaption
								h4 Making Mid-Century Modern Again
								p The rejuvenated 'Fig Tree Pocket' 60’s House by Bligh Graham Architects, in Brisbane.
				.swiper-slide.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/news/item-8.png", alt="1")
							figcaption
								h4 An East Ballarat Home Inspired By Iconic Australian Architecture
								p Explore the self-designed vernacular house of architect Nathan Porter.
				.swiper-slide.project-item
					a(href="javascript:void(0)")
						figure
							.box-img
								img(src="./img/news/item-9.png", alt="1")
							figcaption
								h4 This Circular Beach House Will Put You In A Spin
								p 360-degree views from the brilliantly unconventional St Andrews Beach House, by Austin Maynard Architects.
