section.career-overview 
	.container 
		.row 
			.col-lg-6.overview-item
				.img 
					img(src="./img/career/c-1.jpg", alt="")
			.col-lg-6.overview-item
				.full-content 
					h2 Company Overview
					br
					h3 Wonder Design And Construction Pte Ltd 
						span was set up in 2018 to provide Interior Designers. We are an established, fast growing Interior Design firm.
					br 
					p To build upon our success, we require highly competent and motivated team members to become an integral part of our team.  We embrace a supportive learning environment that we consider to be paramount to simulating the success of the company.
					br 
					p We believe in open communication and staff development.  We attribute our progress and expansion to our team of dedicated and committed staff and would like to invite suitably qualified personnel to join us.
					.develope
						.item 
							img(src="./img/icon/i-1.png", alt="")
							h4 Outstanding career, growth & development opportunities
						.item 
							img(src="./img/icon/i-2.png", alt="")
							h4 Competitive salary & work benefit package
						.item 
							img(src="./img/icon/i-3.png", alt="")
							h4 Passionate, energetic & innovation work culture
section.career-table 
	.container 
		h2 CURRENT OPPORTUNITIES
		.row 
			.col 
				table
					tbody 
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019
						tr 
							th 01 
							th Purchasing Assistant
							th Woodlands (North)
							th 28/03/2019