section.catalogue-product
	.container 
		h2 catalogue
		.row 
			.col-sm-6.col-lg-3.product-item
				a(href="#")
					.img 
						img(src="./img/catalogue/sp-1.jpg", alt="")
					h3 Masters in Architecture - Part II - Newcastle University
					.download
						i.mdi.mdi-cloud-download
						span Download
			.col-sm-6.col-lg-3.product-item
				a(href="#")
					.img 
						img(src="./img/catalogue/sp-2.jpg", alt="")
					h3 Masters in Architecture - Part II - Newcastle University
					.download
						i.mdi.mdi-cloud-download
						span Download
			.col-sm-6.col-lg-3.product-item
				a(href="#")
					.img 
						img(src="./img/catalogue/sp-3.jpg", alt="")
					h3 Masters in Architecture - Part II - Newcastle University
					.download
						i.mdi.mdi-cloud-download
						span Download
			.col-sm-6.col-lg-3.product-item
				a(href="#")
					.img 
						img(src="./img/catalogue/sp-4.jpg", alt="")
					h3 Masters in Architecture - Part II - Newcastle University
					.download
						i.mdi.mdi-cloud-download
						span Download
			.col-sm-6.col-lg-3.product-item
				a(href="#")
					.img 
						img(src="./img/catalogue/sp-1.jpg", alt="")
					h3 Masters in Architecture - Part II - Newcastle University
					.download
						i.mdi.mdi-cloud-download
						span Download
			